<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bd777f">  <td>21/07/11 13:07:09</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;WeatherTest.finish()[pri:0, instance:tests.WeatherTest@10d307f1]">&lt;&lt;finish</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1206051975</td>   <td></td> </tr>
<tr bgcolor="bd777f">  <td>21/07/11 13:07:07</td>   <td>-2505</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WeatherTest.locationWeatherTest(java.lang.String,java.lang.String)[pri:0, instance:tests.WeatherTest@10d307f1]">locationWeatherTest</td> 
  <td>main@1206051975</td>   <td></td> </tr>
<tr bgcolor="bd777f">  <td>21/07/11 13:07:07</td>   <td>-2662</td> <td>&nbsp;</td><td title="&gt;&gt;WeatherTest.setUP()[pri:0, instance:tests.WeatherTest@10d307f1]">&gt;&gt;setUP</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1206051975</td>   <td></td> </tr>
</table>
